In [1]:
print('Hello World')

Hello World

# Data Type

In [5]:
text = 'Text in python is called String'
text_2 = "Snake case ?"
num_int = 10
num_float = 3.14
boolean = True
none_type = None

print(text, text_2, num_int, num_float, boolean, none_type)
print(type(none_type))
print(type(num_float))
print(type(boolean))

Text in python is called String Snake case ? 10 3.14 True None
<class 'NoneType'>
<class 'float'>
<class 'bool'>

In [8]:
user = "Hello"
app  = "New"

print('Once upon a time, there was a user named ' + user)
print('My name is : {}'.format(user))
print(f'Once upon a time, there was a {app} user named {user}')

Once upon a time, there was a user named Hello
My name is : Hello
Once upon a time, there was a New user named Hello

In [11]:
num_a = input('Enter First Number: ')
num_b = input('Enter Second Number: ')

print(type(num_a))
print(type(num_b))

total = int(num_a) + int(num_b)

print(f'Total: {total}')

<class 'str'>
<class 'str'>
Total: 60

In [12]:
# str()
# float()
# int()
# bool()

# list()
# tuple()
# set()
# dict()